@font-face {
    font-weight: 400;
    font-family: Outfit;
    src: url("../fonts/outfit/Outfit-Regular.ttf");
}

@font-face {
    font-weight: 300;
    font-family: Outfit;
    src: url("../fonts/outfit/Outfit-Light.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Outfit;
    src: url("../fonts/outfit/Outfit-Medium.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Outfit;
    src: url("../fonts/outfit/Outfit-SemiBold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Outfit;
    src: url("../fonts/outfit/Outfit-Bold.ttf");
}

html, body {
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #181818;
}

.wrapper {
    width: 1440px;
    margin: auto;
    height: 700px;
    overflow: hidden;
}

.nav_wrapper {
    height: 38px;
    display: flex;
}

.nav_items {
    background-color: #FFAA4C;
}

.nav_item {
    display: flex;
    padding: 9px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.nav_item:first-child {
    margin-left: 60px;
    border-radius: 20px 20px 0 0;
    background: #181818;
    color: #FFF;
    padding-right: 40px;
}

.header_links {
    height: 71px;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    padding: 0 60px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    height: 47px;
    margin-left: 8px;
    margin-top: 1px;
}

.burger {
    display: none;
}

.header_logo_text {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    text-transform: lowercase;
    margin-left: 6px;
}

.header_contact {
    display: flex;
    padding: 16px 30px;
    width: 122px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #954CED;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header_description {
    display: flex;
    margin-left: 110px;
}

.header_description_text h1 {
    display: flex;
    width: 707px;
    margin-top: 81px;
    flex-direction: column;
    color: #FFF;
    font-size: 95px;
    font-style: normal;
    font-weight: 700;
    line-height: 108%;
    letter-spacing: 1px;
}

.header_description_text p {
    display: flex;
    margin-top: 18px;
    width: 556px;
    flex-direction: column;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.header_description_contact {
    display: flex;
    padding: 18px 30px;
    margin-top: 39px;
}

.header_description_image {
    position: relative;
}

.header_description_vector {
    position: absolute;
    left: 38px;
    top: 93px;
}

.header_description_img {
    position: absolute;
    width: 489px;
    height: 526px;
    top: 65px;
    left: 58px;
}

.wrapper_about {
    height: 953px;
    padding-bottom: 100px;
}

.about_header {
    margin-top: 66px;
    margin-left: 61px;
    color: #FFF;
    font-size: 94px;
    font-style: normal;
    font-weight: 700;
    line-height: 102%;
    letter-spacing: 1px;
}

.about_content {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 2px;
    justify-content: space-between;
}

.about_description {
    display: flex;
    position: relative;
}

.about_description_header h2 {
    position: absolute;
    display: flex;
    width: 423px;
    margin-top: 80px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 1;
}

.about_description_header h2::after {
    position: absolute;
    content: '';
    bottom: 2px;
    right: 14px;
    width: 353px;
    height: 34px;
    transform: rotate(-1.693deg);
    flex-shrink: 0;
    border-radius: 30px;
    background: #A64CED;
    z-index: -1;
}

.about_description_vector {
    position: relative;
}

.about_description_vector_orange {
    position: absolute;
    top: 366px;
    left: -60px;
    z-index: 1;
}

.about_description_vector_violet {
    position: absolute;
    top: 623px;
    left: -60px;
    z-index: 2;
}

.about_items {
    display: flex;
    width: 60%;
    margin-top: 80px;
    flex-wrap: wrap;
}

.about_item {
    width: 320px;
    margin-right: 70px;
    margin-bottom: 73px;
}

.about_item_image {
    margin-top: -2px;
}

.about_item_header {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    margin-top: 8px;
}

.about_item_description {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin-top: 20px;
    width: 338px;
}

.wrapper_how_work {
    height: 798px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.how_works_image {
    position: absolute;
    width: 308px;
    height: 623px;
    z-index: 20;
    top: 69px;
    left: calc(50% - 154px);
}

.running_text {
    margin-top: 108px;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    color: #181818;
    text-shadow:
    -1px -1px 0 #444444,
    1px -1px 0 #444444,
    -1px  1px 0 #444444,
    1px  1px 0 #444444;
}

.running_text_first {
    margin-bottom: 68px;
    animation-name: moving_text_first;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

@keyframes moving_text_first {
    0% {
        transform: translateX(-50%);
        animation-timing-function: linear;
    }
    50% {
        transform: translateX(-20%);
        animation-timing-function: linear;
    }
    100% {
        transform: translateX(-50%);
        animation-timing-function: linear;
    }
}

.running_text_second {
    margin-bottom: 68px;
    animation-name: moving-text-second;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

@keyframes moving-text-second {
    0% {
        transform: translateX(-40%);
        animation-timing-function: linear;
    }
    50% {
        transform: translateX(-10%);
        animation-timing-function: linear;
    }
    100% {
        transform: translateX(-40%);
        animation-timing-function: linear;
    }
}

.running_text_third {
    margin-bottom: 146px;
    animation-name: moving_text_third;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

@keyframes moving_text_third {
    0% {
        transform: translateX(-30%);
        animation-timing-function: linear;
    }
    50% {
        transform: translateX(0%);
        animation-timing-function: linear;
    }
    100% {
        transform: translateX(-30%);
        animation-timing-function: linear;
    }
}

.running_text_teal {
    color: #2FDBBC;
}

.running_text_violet {
    color: #A64CED;
}

.running_text_orange {
    color: #FFAA4C;
}

.indicators {
    background-color: #954CED;
}

.wrapper_indicators {
    height: 222px;
}

.indicator_marks {
    display: flex;
    margin: 41px 0;
}

.mark_increase {
    margin-left: 350px;
}

.mark_sales {
    margin-left: 97px;
}

.mark_customers {
    margin-left: 42px;
}

.indicators_mark h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
}

.indicator_marks p {
    margin-top: 16px;
    width: 220px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.wrapper_why {
    height: 1192px;
}

.why_text {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    position: relative;
}

.why_header {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
}

.why_description {
    width: 670px;
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 2;
}

.why_text_vector {
    width: 386px;
    height: 35px;
    margin-top: -38px;
    transform: rotate(-1.631deg);
    flex-shrink: 0;
    border-radius: 30px;
    background: #A64CED;
    z-index: 1;
}

.why_blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 72px 70px 0;
}

.why_block {
    display: flex;
    height: 362px;
    border-radius: 30px;
    background: #F5F5F5;
    overflow: hidden;
    position: relative;
}

.why_block_customers, .why_block_seasoned {
    width: 733px;
}

.why_block_harness, .why_block_supercharge {
    width: 547px;
}

.why_block_customers, .why_block_supercharge {
    margin-right: 20px;
}

.why_block_seasoned, .why_block_supercharge {
    margin-top: 20px;
}


.customers_picture {
    width: 636px;
}

.customer_text{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 71px;
}

.harness_text {
    margin: 40px 75px 0 40px;
}

.supercharge_text {
    margin: 40px 67px 0 40px;
}

.seasoned_text {
    margin: 40px 285px 0 40px;
}

.why_block_header {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.why_block_description  {
    margin-top: 18px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.customers_picture_img {
    position: absolute;
    margin-top: 37px;
    padding: revert;
    left: 14px;
    z-index: 2;
}

.customers_picture_vector {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.harness_picture, .seasoned_picture,
.supercharge_picture {
    position: relative;
}

.harness_violet {
    position: absolute;
    top: 80px;
    left: 459px;
}

.harness_orange {
    position: absolute;
    bottom: 0;
    left: 394px;
}

.harness_green {
    position: absolute;
    bottom: 0;
    left: 72px;
}


.seasoned_image, .supercharge_image {
    position: absolute;
}

.seasoned_image  {
    bottom: 0;
    left: 480px;
}

.supercharge_image {
    bottom: 0;
    right: 0;
}

.customer_text .why_block_description {
    margin-right: 6px;
}

.supercharge_text .why_block_description {
    margin-right: 110px;
}

.contacts {
    background-color: #F5F5F5;
}

.contacts_wrapper {
    height: 1017px;
}

.contacts_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 60px;
    border-radius: 60px;
    border: 1px solid #CFCFCF;
    padding-bottom: 60px;
}

.contacts_header_text {
    margin-top: 60px;
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.contacts_main {
    display: flex;
    justify-content: center;
}

.contacts_tagline {
    width: 875px;
    margin-left: 59px;
}

.contacts_social_network {
    width: 558px;
    display: flex;
    padding-top: 44px;
    padding-left: 33px;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagline_header {
    color: #000;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
}

.tagline_description {
    width: 542px;
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.contacts_social_network_item {
    width: 90px;
    height: 90px;
    margin-right: 40px;
}

.contacts_social_network div:nth-child(1),
.contacts_social_network div:nth-child(3),
.contacts_social_network div:nth-child(6),
.contacts_social_network div:nth-child(8) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #954CED;
    border-radius: 50%;
}

.contacts_social_network div:nth-child(6),
.contacts_social_network div:nth-child(8) {
    margin-top: -22px;
}

.contacts_partners {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 99px 60px 0 51px;
    flex-direction: row;
}

.contacts_partners_image {
    margin-right: 90px;
}

.footer_wrapper {
    height: 188px;
}

.footer_content {
    margin: 40px 60px 20px 60px;
}

.footer_content hr {
    margin-top: 25px;
    background: #444;
}


.footer_copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.copyright {
    color: #B9B9B9;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.footer_links a {
    color: #B9B9B9;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    text-decoration-line: underline;
    margin-right: 17px;
}

.footer_links a:last-child {
    margin-right: 0;
}

.footer_socials {
    display: flex;
    align-items: center;
}

.footer_logo {
    margin-right: 140px;
}

.footer_nav_items {
    display: flex;
    margin-right: 126px;
}

.footer_nav_item {
    margin-right: 40px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.footer_nav_item a:nth-child(2){
    margin-right: 0;
}

.footer_nav_item a:nth-child(3),
.footer_nav_item a:nth-child(4),
.footer_nav_item a:nth-child(5) {
    display: none;
}


.socials_item {
    margin-left: 40px;
    margin-right: -20px;
}




